<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @snippet.author %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @snippet.quote %>
</p>

<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
